@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;300;400;500;600;800;900 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    max-width: 1920px;
    width: 100%;
    
}

.top_header{
    height: 100px;
    justify-content: space-between;
    display: flex;
    background-color: #F88524;
    align-items: center;
}

.logo{
    height: 95%;
}

.big_screen--browser{
    margin-right: 2vw;
    display: flex;
    justify-content: space-evenly;
}

.top_menu--ul{
    justify-content: space-evenly;
    display: flex;
    overflow: hidden;
    transition: all .5s;
}

.big_screen--browser a{
    text-decoration: none;
}

.big_screen--browser li{
    color: white;
    font-size: 2rem;
    list-style: none;
    margin-left: 20px;
}

.big_screen--browser li:hover{
    color: #1760B3;
    cursor: pointer;
}

.free_trial--btn{
    color: white;
    background-color: #1760B3;
    border-radius: 10px 0px 10px 0px;
    margin-left: 2vw;
}

.free_trial--btn:hover{
    background-color: darkblue;
    cursor: pointer;
}

.menu_mobile--btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 20px;
    display: none;
}

.banner_top{
    overflow: hidden;
    background-color: #1760B3;
    background-image: url('img/novos+canais+claro+tv+2013.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
}

.banner_top--text{
    height: 100%;
    color: white;
    margin-left: 10px;
    width: 40%;
}

.banner_top--text h2{
    font-size: 2rem;
    margin-top: 200px;
    font-weight: 900;
}

.banner_top--text p{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
}

.banner_top--text h2:hover{
    background-color: #F88524;
    opacity: 0.8;
}

.banner_top--button{
    align-items: baseline;
    display: flex;
}

.header_button--contact{
    align-items: center;
    width: 100px;
    height: 40px;
    margin-top: 35px;
    color: white;
    background-color: #F88524;
    border-radius: 10px 0px 10px 0px;
    margin-left: 1vw;
}

.header_button--test{
    position: relative;
    top: 0.5vh;
    right: -1vw;
    align-items: center;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #F88524;
    border-radius: 10px 0px 10px 0px;
}

.header_button--contact:hover{
    cursor: pointer;
    background-color: orangered;
}

.header_button--test:hover{
    cursor: pointer;
    background-color: orangered;
}

.img_mobile--header{
    min-width: 720px;
    background-image: url('img/lll.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    right: -90px;
    top: 7px;
}

main{
    background-color: #1760B3;
    max-width: 1920px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container_services{

    width: 100%;
    height: 150px;
    align-items: center;
    text-align: center;
}

.container_services article{
    font-size: 1.5rem;
}

.popo{

    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}

.papa{
    background-color: #F88524;
    max-width: 1220px;
    width: 30%;
    padding: 4vh;
}

.papa img{
    margin-left: 3vw;
    flex-wrap: wrap;
    align-items: center;
    width: 50px;
}

.papa:hover{
    background-color: orangered;
}

button:focus ~ .top_menu--ul{
    height: 100%;
}

@media(max-width:720px){

    header{
        min-width: 256px;
    }

    .top_header{
        background-color: #F88524;
        flex-direction: column;
    }

    .container_top--menu{
        overflow: hidden;
        margin-bottom: 30vh;
        width: 102vw;
        height: 20vh;
        align-items: flex-start;
    }

    .top_menu--ul{
        font-size: 19rem;
        margin: 0;
        height: 0;
        width: 100%;
        background-color: #F88524;
        flex-direction: column;
    }

    .big_screen--browser li{
       
        width: 100%;
    }

    .menu_mobile--btn{
        display: inline;
    }

    .free_trial--btn{
        display: none;
    }

    .banner_top{
        overflow: hidden;
        background-color: darkblue;
        background-image: url('img/canais.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 700px;
    }

    .banner_top--button{
        margin-left: 15vw;
    }

    .banner_top--text{
        text-align: center;
        height: 100%;
        color: white;
        margin-left: 10px;
        width: 80%;
    }
    
    .banner_top--text h2{
        font-size: 1.5rem;
        margin-top: 300px;
    }

    main{
        min-width: 256px;
    }

    .popo{
        flex-direction: column;
        align-items: center;
    }

    .papa{
        max-width: 1220px;
        width: 80%;

        margin-left: 20px;
    }
}