@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@100;200;300;400;500;600;800;900 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    max-width: 1920px;
    width: 100%;
    
}

.top_header{
    position: fixed;
    max-width: 1920px;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    display: flex;
    background-color: #F88524;
    align-items: center;
    z-index: 1;
}

.logo{
    height: 95%;
}

.big_screen--browser{
    margin-right: 2vw;
    display: flex;
    justify-content: space-evenly;
}

.top_menu--ul{
    justify-content: space-evenly;
    display: flex;
    overflow: hidden;
    transition: all .5s;
}

.big_screen--browser a{
    text-decoration: none;
}

.big_screen--browser li{
    color: white;
    font-size: 1.5rem;
    list-style: none;
    margin-left: 20px;
}

.big_screen--browser li:hover{
    color: #1760B3;
    cursor: pointer;
}

.free_trial--btn{
    color: white;
    background-color: #1760B3;
    border-radius: 10px 0px 10px 0px;
    margin-left: 2vw;
}

.free_trial--btn:hover{
    background-color: darkblue;
    cursor: pointer;
}

.menu_mobile--btn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 0.73vw;
    top: 3.2vh;
    display: none;
}

.banner_top{
    overflow: hidden;
    background-color: #1760B3;
    background-image: url('img/fundo-header.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.banner_top--text{
    height: 100%;
    color: white;
    margin-left: 10px;
    width: 40%;
}

.banner_top--text h2{
    font-size: 2rem;
    margin-top: 200px;
    font-weight: 900;
}

.banner_top--text p{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
}

.banner_top--text h2:hover{
    background-color: #F88524;
    opacity: 0.8;
}

.banner_top--button{
    align-items: baseline;
    display: flex;
}

.header_button--contact{
    align-items: center;
    width: 100px;
    height: 40px;
    margin-top: 35px;
    color: white;
    background-color: #F88524;
    border-radius: 10px 0px 10px 0px;
    margin-left: 1vw;
}

.header_button--test{
    position: relative;
    top: 0.5vh;
    right: -1vw;
    align-items: center;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #F88524;
    border-radius: 10px 0px 10px 0px;
}

.header_button--contact:hover{
    cursor: pointer;
    background-color: orangered;
}

.header_button--test:hover{
    cursor: pointer;
    background-color: orangered;
}

.img_mobile--header{
    min-width: 720px;
    background-image: url('img/img_mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    right: -90px;
    top: 7px;
}

main{
    color: white;
    background-color: #1760B3;
    max-width: 1920px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container_services{
    width: 100%;
    height: 15vh;
    align-items: center;
    text-align: center;
}

.container_services article{
    font-size: 1.5rem;
}

.popo{
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}

.papa{
    background-color: #F88524;
    max-width: 1220px;
    width: 30%;
    padding: 4vh;
}

.papa img{
    margin-left: 3vw;
    flex-wrap: wrap;
    align-items: center;
    width: 50px;
}

.papa:hover{
    background-color: orangered;
}

button:focus ~ .top_menu--ul{
    height: 100%;
}

.container_web--platform{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.web_plataform--text{
    margin-left: 40px;
    max-width: 40%;
}

.web_plataform--text button{
    width: 100px;
    height: 40px;
    margin-top: 10px;
    color: white;
    background-color: #F88524;
    border-radius: 10px 0px 10px 0px;
}

.web_plataform--text button:hover{
    background-color: orangered;
    color: black;
    transition: all 0.5s;
    font-weight: 800;
}

.web_plataforma--img{
    overflow: hidden;
}

.container_plans{
    padding-top: 20vh;
}

.plans_text{
    font-size: 1.3rem;
    align-items: center;
    text-align: center;
}

.plans_text h3:hover{
    color: black;
    background-color: #F88524;
    opacity: 0.8;
    transition: all 0.9s;
}

.plans_text p{
    margin-top: 20px;
}

.our_plans{
    align-items: baseline;
    padding-top: 10vh;
    display: flex;
    background-color: #1760B3;
    justify-content: space-around;
}

.plan_price{
    align-items: center;
    text-align: center;
    font-weight: 900;
    color: black;
}

.plan_monthly{
    margin-top: 2vh;
    border-radius: 5px;
    background-color: #F88524;
    width: 200px;
}

.plan_monthly--list{
    width: 90%;
}

.plan_monthly--list ul{
    height: 100%;
}

.plan_monthly--list li{
    height: 90%;
    margin-left: 25px;
    margin-top: 1vh;
}

.plan_monthly--list li:hover{
    background-color: orangered;
    color: black;
    cursor: pointer;
    font-weight: 300;
}

.plan_quarterly{
    margin-top: 2vh;
    border-radius: 5px;
    background-color: #F88524;
    width: 200px;
}

.plan_quarterly--list{
    width: 90%;
}

.plan_quarterly--list ul{
    height: 100%;
}

.plan_quarterly--list li{
    height: 90%;
    margin-left: 25px;
    margin-top: 1vh;
}

.plan_quarterly--list li:hover{
    background-color: orangered;
    color: black;
    cursor: pointer;
    font-weight: 300;
}

.plan_sani--annul{
    margin-top: 2vh;
    border-radius: 5px;
    background-color: #F88524;
    width: 200px;
}

.plan_sani--annul---list{
    width: 90%;
}

.plan_sani--annul---list ul{
    height: 100%;
}

.plan_sani--annul---list li{
    height: 90%;
    margin-left: 25px;
    margin-top: 1vh;
}

.plan_sani--annul---list li:hover{
    background-color: orangered;
    color: black;
    cursor: pointer;
    font-weight: 300;
}

.signature_plan--btn{
    cursor: pointer;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px;
}

.container_tv--box{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    text-align: center;
}

.tv_box--text{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.tv_box--text p{
    font-size: 1rem;
    font-weight: 400;
}

.tv_box--list{
    width: 50vw;
    border-radius: 10px;
    background-color: #F88524;
}

.tv_box--list img{
    width: 50vw;
    border-radius: 10px;
}

.tv_box--list ul{
    list-style: none;
    font-size: 1.3rem;
    font-weight: 800;
}

.tv_box--list li:hover{
    cursor: pointer;
    background-color: orangered;
}

.tv_box--list---prominence{
    color: #1760B3;
}

.tv_box--btn{
    cursor: pointer;
    color: white;
    background-color: darkblue;
    border-radius: 5px;
    font-weight: 900;
    margin-top: 10px;
    width: 40vw;
}

.container_doubts--plans{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.container_doubts--plans h3{
    font-size: 2rem;
    padding: 2rem;
}

.box_doubts--plans{
    width: 80%;
}

.text_doubts{
    margin-top: 20px;
}

.text_doubts summary{
    border-radius: 5px;
    font-size: 25px;
    background-color: #F88524;
    color: white;
    padding: 10px 20px;
    position: relative;
}

.text_doubts p{
    font-size: 1.3rem;
    background-color: darkblue;
}

footer{
    min-width: 300px;
    background-color: #F88524;
    padding: 70px 0;
}

.container{
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 1.3rem;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 800;
    position: relative;
}

.footer-col h4:hover{
    cursor: pointer;
    color: darkblue;
}

.footer-col h4::before{
    cursor: pointer;
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: orangered;
    height: 4px;
    width: 0;
    transition: 0.5s;
}

.footer-col h4:hover::before{
    width: 30%;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 600;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: darkblue;
    padding-left: 8px;
}

.social_links{
    display: inline-block;
}

.social_links a{
    margin-right: 10px;
}

.social_links img{
    border-radius: 50%;
    width: 40px;
    height: 35px;
}

.social_links img:hover{
    background-color: white;
    opacity: 0.5;
}

@media(max-width:720px){

    header{
        min-width: 300px;
    }

    .top_header{
        background-color: #F88524;
        flex-direction: column;
        position: static;
    }

    .container_top--menu{
        overflow: hidden;
        margin-bottom: 30vh;
        width: 102vw;
        height: 20vh;
        align-items: flex-start;
    }

    .top_menu--ul{
        font-size: 19rem;
        margin: 0;
        height: 0;
        width: 100%;
        background-color: #F88524;
        flex-direction: column;
    }

    .big_screen--browser li{
        text-align: center;
        width: 70%;
    }

    .menu_mobile--btn{
        display: inline;
    }

    .free_trial--btn{
        display: none;
    }

    .banner_top{
        overflow: hidden;
        background-color: darkblue;
        background-image: url('img/canais.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 700px;
    }

    .banner_top--button{
        margin-left: 15vw;
    }

    .banner_top--text{
        text-align: center;
        height: 100%;
        color: white;
        margin-left: 10px;
        width: 80%;
    }
    
    .banner_top--text h2{
        font-size: 1.5rem;
        margin-top: 300px;
    }

    main{
        min-width: 300px;
    }

    .container_services{
        height: 30vh;
    }

    .popo{
        flex-direction: column;
        align-items: center;
    }

    .papa{
        width: 40%;
        margin-left: 20px;
    }

    .container_web--platform{
        flex-direction: column;
    }

    .web_plataform--text{
        margin-left: 40px;
        max-width: 80%;
    }

    .web_plataforma--img img{

        margin-top: 20px;
        width: 95vw;
    }

    .logo{
        position: relative;
        top: 0px;
        right: 33vw;
    }

    .our_plans{
        flex-direction: column;
        align-items: center;
    }

    .footer-col{
        width: 25%;
        margin-bottom: 30px;
    }

    .footer-col h4{
        font-size: 0.84rem;
    }
}